body {
	background-color: #000000;
	color: #f4f4f4;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px 20px;
	text-align: center;
}

h1 {
	font-size: 36px;
	margin-bottom: 30px;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.button-container a {
	display: inline-block;
	background-color: #ccc;
	border-radius: 5px;
	color: #000;
	font-size: 24px;
	font-weight: bold;
	padding: 20px 40px;
	margin: 0 10px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.button-container a:hover {
	background-color: #555;
	color: #fff;
}

.button-container a i {
	margin-right: 10px;
}

.copy {
	font-size: 14px;
	margin-top: 50px;
}

.copy a {
	color: #000;
	text-decoration: none;
}

.copy a:hover {
	text-decoration: underline;
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	padding-top: 20px;
	border-top: 1px solid #ccc;
	font-size: 14px;
	color: #666;
	}
	
	.social-icons {
	display: flex;
	align-items: center;
	  color: black; 
	}